*{
    margin: 0;
    padding: 0;   
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 63, 0.938);
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sedgwick+Ave&display=swap');
:root,
body{
    color: #fff;
    height: 100%;
    background-color: rgba(7, 7, 63, 0.938);   
}
.corn{
    margin: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sedgwick Ave', cursive;  
  }

span {
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 35.49px;
  animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;}
.responsive h2{font-sie: 6vw;}
  @keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #8CBED6;
    }
  }

.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.container .cards{
    position: relative;
    width: 300px;
    height: 275px;
    background: white;
    margin: 30px 10px;
    padding:20px 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .cards:hover{
    cursor: pointer;
    height: 320px;
}
.container .cards .imgbox{
    position: relative;
    height: 260px;
    width: 260px;
    top: -60px;
    left:20px;
    z-index: 1;
    box-shadow: 0.5px 20px rgba(0,0,0,0.2);
}
.container .cards .imgbox img{
   max-width: 100%;
   border-radius: 4px;
}
.container .cards .content{
    position: relative;
    margin-top: -140px; 
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .cards:hover .content{

    visibility: visible;
    opacity: 1;
    margin-top: 15px;
    transition-delay: 0.3s ;
}
